
# Autotools stuff
.deps
Makefile
Makefile.in
ltmain.sh 
dist.sh 
depcomp
install-sh 
missing
stamp-h.in

# Libtool adds these, at least sometimes
configure
*.cache
*.m4

# ctags stuff
TAGS

# source object files
*.o

# log file
*.log
